


.home-main-content {
    color: #00a8d6;
  display:inline-table;
  justify-content: left;
  align-items: left;
  height: 470px;;
  font-size: 4rem;
  margin-top: 38px;

  }

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .custom-snackbar {
    background-color: #2196f3; /* Blue color */
    color: rgb(15, 0, 98); /* Text color */
    font-size: 16px; /* Optional: Adjust font size */
    text-align: center; /* Optional: Center text */
  }
  .Date-on-right {
    color: #dcdcdc;
    position: absolute;
  display:flex;
  top: 0;             /* Aligns it to the top */
  right: 0;
  margin: 100px;  
  justify-content:center;
  align-items:normal;
  margin-top: 70px;
  
  

  }
  .Date-on-right01 {
    color: #c7c9d7;
    position: absolute;
  display:flex;
  top: 0;             /* Aligns it to the top */
  right: 1;
  justify-content:center;
  align-items:normal;
  margin-top: 70px;
  

  }
  .admin-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 38px;

  
    mat-card {
      width: 100%;
      max-width: 600px;
      background-color: rgba(118, 109, 109, 0.125);
      color: #fff;
  
      mat-card-title {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
  
      h3 {
        margin-top: 1rem;
        border-bottom: 1px solid #af4c4c;
        padding-bottom: 5px;
      }
  
      mat-form-field {
        margin-bottom: 1rem;
  
        input, textarea {
          color: #fff;
        }
  
        .mat-mdc-form-field-ripple {
          background-color: #af4c4c;
        }
  
        mat-label {
          color: #947f7f;
        }
      }
  
      .form-actions {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
  
        button {
          padding: 0.5rem 1.5rem;
          font-size: 1rem;
        }
      }
    }
  }
  